<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="mynyte">
            <ion-icon name="business"></ion-icon>
            <ion-label>Mynyte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="offers">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Offers</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="feed">
            <ion-icon name="newspaper"></ion-icon>
            <ion-label>Feed</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="taxi">
            <ion-icon name="medkit"></ion-icon>
            <ion-label>Covid</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="more">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
            <ion-label>More</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>