.main-feed-listings {
    margin-top: 0.5rem;
}

.search-panel-overlay {
    width: 100%;
    height: 100%;
    height: calc(100% - 55px);
    position: absolute;
    top: 56px;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    z-index: 3;
}