.listing-detail__item {
    &.listing-detail__item--disabled {
        color: #bbb;
    }
    .listing-detail__icon,
    .listing-detail__icon-right {
        width: 25px;
        height: 32px;
        margin-right: 1rem;
    }
    .listing-detail__icon-right {
        float: right;
        margin-top: 1px;
        margin-right: 0;
        height: 33px;
        &.listing-detail__icon-right--hidden {
            visibility: hidden;
        }
    }
    .listing-detail__text {
        display: inline-block;
        vertical-align: super;
        flex-direction: column;
        margin-top: -2px;
        &.listing-detail__text--with-note {
            display: inline-flex;
            vertical-align: text-bottom;
        }
        .listing-detail__label {
            padding-top: 0;
            margin-top: -2px;
        }
        .listing-detail__note {
            font-size: 12px;
        }
    }
    .listing-detail__label {
        vertical-align: top;
        display: inline-block;
        padding-top: 6px;
        margin-right: 10px;
        line-height: 22px;
    }
    .listing-detail__counter {
        float: right;
        padding-top: 6px;
        margin-right: 10px;
        line-height: 22px;
    }
}